certifi
contourpy
cycler
fonttools
kiwisolver
matplotlib
munkres==1.1.4
numpy
opencv-contrib-python==4.9.0.80
packaging
pillow
ply==3.11
pyparsing
PyQt5==5.15.10
PyQt5-sip
python-dateutil
setuptools==69.1.1
sip
six
tomli
tornado
wheel==0.42.0
